<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>emo_001@2x.png</string>
	<string>emo_002@2x.png</string>
	<string>emo_003@2x.png</string>
	<string>emo_004@2x.png</string>
	<string>emo_005@2x.png</string>
	<string>emo_006@2x.png</string>
	<string>emo_007@2x.png</string>
	<string>emo_008@2x.png</string>
	<string>emo_009@2x.png</string>
	<string>emo_010@2x.png</string>
	<string>emo_011@2x.png</string>
	<string>emo_012@2x.png</string>
	<string>emo_013@2x.png</string>
	<string>emo_014@2x.png</string>
	<string>emo_015@2x.png</string>
	<string>emo_016@2x.png</string>
	<string>emo_017@2x.png</string>
	<string>emo_018@2x.png</string>
	<string>emo_019@2x.png</string>
	<string>emo_020@2x.png</string>
	<string>emo_021@2x.png</string>
	<string>emo_022@2x.png</string>
	<string>emo_023@2x.png</string>
	<string>emo_024@2x.png</string>
	<string>emo_025@2x.png</string>
	<string>emo_026@2x.png</string>
	<string>emo_027@2x.png</string>
	<string>emo_028@2x.png</string>
	<string>emo_029@2x.png</string>
	<string>emo_030@2x.png</string>
	<string>emo_031@2x.png</string>
	<string>emo_032@2x.png</string>
	<string>emo_033@2x.png</string>
	<string>emo_034@2x.png</string>
	<string>emo_035@2x.png</string>
	<string>emo_036@2x.png</string>
	<string>emo_037@2x.png</string>
	<string>emo_038@2x.png</string>
	<string>emo_039@2x.png</string>
	<string>emo_040@2x.png</string>
	<string>emo_041@2x.png</string>
	<string>emo_042@2x.png</string>
	<string>emo_043@2x.png</string>
	<string>emo_044@2x.png</string>
	<string>emo_045@2x.png</string>
	<string>emo_046@2x.png</string>
	<string>emo_047@2x.png</string>
	<string>emo_048@2x.png</string>
	<string>emo_049@2x.png</string>
	<string>emo_050@2x.png</string>
	<string>emo_051@2x.png</string>
	<string>emo_052@2x.png</string>
	<string>emo_053@2x.png</string>
	<string>emo_054@2x.png</string>
	<string>emo_055@2x.png</string>
	<string>emo_056@2x.png</string>
	<string>emo_057@2x.png</string>
	<string>emo_058@2x.png</string>
	<string>emo_059@2x.png</string>
	<string>emo_060@2x.png</string>
</array>
</plist>
