<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>开心</string>
	<string>大笑</string>
	<string>冒心心</string>
	<string>震惊</string>
	<string>酷</string>
	<string>流泪</string>
	<string>害羞</string>
	<string>闭嘴</string>
	<string>困</string>
	<string>呜呜</string>
	<string>汗</string>
	<string>暴躁</string>
	<string>调皮</string>
	<string>疑问</string>
	<string>郁闷</string>
	<string>尴尬</string>
	<string>吐</string>
	<string>偷笑</string>
	<string>得意</string>
	<string>口哨</string>
	<string>加油</string>
	<string>骂</string>
	<string>晕</string>
	<string>衰</string>
	<string>扔板砖</string>
	<string>抠鼻</string>
	<string>鼓掌</string>
	<string>委屈</string>
	<string>邪恶</string>
	<string>摸头</string>
	<string>囧</string>
	<string>生病</string>
	<string>流口水</string>
	<string>叹气</string>
	<string>尔康</string>
	<string>无奈</string>
	<string>钱</string>
	<string>哼</string>
	<string>石化</string>
	<string>爱你</string>
	<string>OK</string>
	<string>YES</string>
	<string>赞</string>
	<string>便便</string>
	<string>炸弹</string>
	<string>飞吻</string>
	<string>爱心</string>
	<string>心碎</string>
	<string>喝茶</string>
	<string>药丸</string>
	<string>高跟鞋</string>
	<string>礼盒</string>
	<string>蛋糕</string>
	<string>干杯</string>
	<string>喇叭</string>
	<string>气球</string>
	<string>路过</string>
	<string>晚安</string>
	<string>萌</string>
	<string>美</string>
</array>
</plist>
